@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap");

body {
  background-color: #fff27a;
}

.App {
  min-height: 100vh;
  height: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #ff7a8a;
}

pre {
  font-size: 24px;
  color: #113a5d;
}

hr {
  margin-top: 20px;
  width: 60%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp {
  width: 200px;
  height: 40px;
  border: 2px solid #113a5d;
  border-radius: 5px;
  margin-inline: 10px;
  padding-left: 6px;
  background-color: transparent;
  font-size: 22px;
}

.btn {
  margin-inline: 10px;
  width: 90px;
  height: 55px;
  border-radius: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  /* font-weight: bold; */
  color: #ff7a8a;
  background-color: transparent;
  box-shadow: 2px 2px 7px black;
}

.btn:hover {
  transition: 0.1s;
  background-color: #ebdf79;
}
.btn:active {
  box-shadow: 1px 1px 2px black;
  background-color: #d4ca6e;
}
